/* This file is for your main application css. */
@import "~milligram/dist/milligram";

body {
    font-family: "Comic Sans MS";
}

header {
    margin-bottom:50px;
}

.lol {
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 100%;
    z-index: -2;
    opacity: .5;
}


html, body, .container, .showdown-game {
    height: 100%;
    width: 100%;
    max-width: 100%;
    margin: 0;
}
main {
    height: 100% - 25px;
    width: 100%;
}

.login-form {
    width:100%;
}

.games {
    margin-bottom:50px;
}
.showdown-game {
    display: flex;

}
.battle {
    font-family: "Comic Sans MS";
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 27% 27% 10% 36%;
    height: 60%;
    min-height: 500px;
    width: 60%;
    min-width: 400px;
    box-sizing: border-box;
    padding: 10px;
    margin: auto;
    grid-template-areas: 
    "player-team opponent-info opponent-info opponent-art opponent-team"
    "player-team player-art player-info player-info opponent-team"
    "player-team battle-text battle-text battle-text opponent-team"
    "m m m m m";
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.7);

}

.battle div {
    margin: 7px;
}

.player.team {
    grid-area: player-team;
}

.opponent.team {
    grid-area: opponent-team;
}


.player.info-bar {
    grid-area: player-info;
}

.opponent.info-bar {
    grid-area: opponent-info;
    text-align:right;
}

.player.artwork {
    grid-area: player-art;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.artwork {
    height: 100%;
    width: auto;
}

.artwork img {
    max-height: 100%;
}

.opponent.artwork {
    grid-area: opponent-art;
}

.menu {
    grid-area: m;
    border: 2px dashed black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
}

.submenu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

button {
    margin: 10px;
    width: 40%;
}

.battle-text {
    grid-area: battle-text;
}

.team {
    background-color: rgba(0, 0, 0, .05);
}

.moveset {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.move {
    display: inline-block;
    width: 40%;
    border: 2px dashed black;
    padding: 10px;
    text-align: center;
}

.move:hover {
    background-color: rgba(0,0,0,.05);
    cursor: pointer;
}

.grass {
    border-color: rgb(40, 190, 60);
}

.water {
    border-color: rgb(26, 90, 207);
}

.fire {
    border-color: rgb(226, 48, 48);
}

.move-info {
    font-size: smaller;
}

.name {
    font-weight: 700;
}
  
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@-webkit-keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

    @-moz-keyframes typing {
        from { width: 0 }
        to { width: 100% }
      }
.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    animation: typing 1.0s steps(60, end);
    padding: 10px;
    font-size: 14px;
  }

  .team {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
  }
